.container{
    border: 1px solid rgb(139, 195, 27);
    display: grid;
    grid-template-columns:  25% 25% 25% 25%;
    grid-template-rows: 50px 50px 50px 50px;
}
.itens{
    /* width: 10%;
    height: 100%; */
    border: 1px solid rgb(75, 3, 148);
    font-size: 150%;
}