body{
    height: 600px;
    border: 1px solid black;
}
.container{
    height: 600px;
    /* width: 70%; */
    text-align: center;
    border: 1px solid rgb(139, 195, 27);
    display: grid;
    grid-template-columns:  repeat(4, 20%);
    /* grid-template-columns:  repeat(4, 1fr); */
    /* grid-template-columns:  25% 25% 25% 25%;  */
    grid-template-rows: 50px 100px;
    /* grid-template-rows: repeat(2 50%)
    grid-template-rows: repeat(2 1fr); */
    column-gap: 10px;
    /* espaço entre linhas */
    row-gap: 25px;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    align-content: space-evenly;
}
.itens{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(75, 3, 148);
    font-size: 100%;
}

#item1{
    grid-row: 2 / 5;
    grid-column: 3;
    color: rgb(118, 0, 228);
    background-color: rgb(128, 242, 15);
}
#item2{
    grid-row: 1;
    grid-column: 4;
    color: rgb(255, 255, 255);
    background-color: rgb(15, 200, 242);
}