*{
    margin: 20%;
}

div section{
    background-color: black;
}

div {
    
    background-color: aqua;
}

#div1{
    color: brown;
}
#e2{
    background-color: blueviolet;
    color: chartreuse;
}

.EstiloTitulo{
    text-shadow: 5px 5px 5px blue;
}