*{
    margin: auto;
    width: 90%;
}

.Divs{
    border: 2px solid black;
    clear: both;
    height: 500px;
    margin-bottom: 30px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
   
}

#imgSoraia{
    width: 250px; 
    
    float: left;
    padding-right: 40px;
    border-radius: 5%;
    /* transition: width 20s, reight 20s, transform 20s; */
}

#TabelaSoraia{
    width: 50%;
    border: 1px solid;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 5px;
}

td{
    width: 50%;
    border: 1px solid rgb(154, 2, 255);
}



/* #imgSoraia:hover{
    width: 500px;
    right: 300px;
    transform: rotate(3000deg);
} */

#ParagrafoSoraia::first-line{
    font-size: 65px;
    color: rgb(255, 0, 0);
    font-family: "Dancing Script", cursive;
}

#imgNaruto{
    width: 350px;
    height: 10;
    float: right;
    transition: opacity 1s;
}
#imgNaruto:hover{
    opacity: 3%;
}

#ParagrafoNaruto::first-letter{
    font-size: 65px;
    color: blue;
    font-family: "Dancing Script", cursive;
  
  
}


#imgGod{
width: 500px;
right: 300px;
float: left;

}

#imgRDR{
    width: 500px;
    right: 300px;
    float: right;
    ;
}

#imgX{
    width: 300px;
    right: 300px;
    margin-left: 13%;
      
}

#ParagrafoSoraia{
    color:chartreuse;
    
}


#ParagrafoSoraia:hover{
    color: red;
    background-color: blue;
}
